<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissões necessárias para Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Para Android 12 (API 31) ou superior -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hande"
        tools:targetApi="31">
        <activity
            android:name=".TreinoDeResistencia"
            android:exported="false" />
        <activity
            android:name=".TreinoDeVelocidade"
            android:exported="false" />
        <activity
            android:name=".TreinoDePrecisao"
            android:exported="false" />
        <activity
            android:name=".PerformanceJogador"
            android:exported="false" />
        <activity
            android:name=".HistoricoDeTreino"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".PerfilDoJogador"
            android:exported="false" />
        <activity
            android:name=".HistoricoTreino"
            android:exported="false" />
        <activity
            android:name=".ModoTreino"
            android:exported="false" />
        <activity
            android:name=".Performace"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>